/*
Laughacademy - Group Project
Filename: main.css
Made by: Douglas Vinicio, Ian Laporte, German Acevedo and Shijun Wang
*/

/*  Fonts 
font-family: 'Bubblegum Sans', cursive; 
font-family: 'Mulish', sans-serif;
*/


/* ==========================================================================
    General Section / Body 
   ========================================================================== */

#img-word-cloud {
    width: 100%;
}

#social-media-icon {
    width: 60px;
    height: auto;
}

p{
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 20px;
}