body {
    margin: auto;
}
h3, h4 {
    margin: 10px auto;
}
h3 {
    font-size: 2.25em; 
    margin: 20px auto;
}
.img_border_radius {
    border-radius: 20px;
}
.find_classes {
    background-color: #f8f9fa;
    padding: 30px 0;
    text-align: center;
}
.find_classes h4 {
    color: #2458bf;
    font-size: 2.25em;
}
.find_classes a {
    background-color: #D96704;
    color: white;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 10px;
}
.find_classes a:hover {
    background-color: white;
    color: #D96704;
    text-decoration: none;
    border: 3px solid #D96704;
}

@media (max-width: 358px) {
    h3 {font-size: 2.2em;}
}
